---
---

@import "{{ site.theme }}";

.api-ref-title {
	font-size: 1.17em;
	color: #111;
}

.api-ref-subtitle {
	color: #111;
}


a.api-ref-title, a.api-ref-subtitle {
	text-decoration: none;
	color: #111;
}


.bordertablestyle {
        border-collapse: collapse;

   > table, td, th {
        border: 1px solid black;
		padding: 5px;
		margin: 1px;
		vertical-align: baseline;
    }

}

.api-ref-rule {
	margin-top: 1em;
	margin-bottom: 1em;
}

.user-information-section {
	margin-left: 10px;
}

#prerequisites a {
	text-decoration: none;
	color: #111;
}